{% extends 'base_generic.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand LogoDinoTeje" href="{% url 'index' %}">
            <img src="{% static 'img/DinoTeje.png' %}" alt="Logo DinoTeje" height="90px" width="auto">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}#productos"><b>Productos</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'raw_product_list' %}"><b>Personaliza</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_lista' %}"><b>Experiencias con DinoTeje</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_nuevo' %}"><b>¡Agrega tu experiencia!</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ver_carrito' %}"><b>Carrito</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5" id="contacto-contenedor">
    <h2 class="contacto-titulo" id="contacto-titulo">Detalles del cliente</h2>
    
    <p id="contacto-nombre"><strong>Nombre:</strong> {{ contacto.nombre }}</p>
    <p id="contacto-email"><strong>Email:</strong> {{ contacto.email }}</p>
    <p id="contacto-mensaje"><strong>Mensaje:</strong> {{ contacto.mensaje }}</p>
    <a href="{% url 'contacto_lista' %}" class="btn btn-secondary" id="contacto-volver">Volver</a>
    <a id="boton-volver" class="btn btn-primary" href="{% url 'index' %}"><b>Volver al menú principal</b></a>

</div>
{% endblock %}
